{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container mt-5 text-center d-flex justify-content-center align-items-center" style="min-height: 350px">
        <div class="card card-body" style="box-shadow: 0 0 0.5cm rgba(40,40,40, 0.5);">
            <h4 class="text-muted text-center mb-2">
                Payment Rejected..
            </h4>
            <h6 class="text-center text-danger">
                {{ error_message }}
            </h6>
            <a class="btn btn-sm btn-default rounded-pill" href="{% url 'smm:orders' %}">Order Again</a>
        </div>
    </div>
{% endblock %}
